[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
pytest = "*"
isort = "*"
autoflake = "*"

[requires]
python_version = "3.9"

[scripts]
format = "bash -c \"autoflake --remove-all-unused-imports -i -r . && isort . && black .\""
